@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

@if (@Model.Clients.Count == null || @Model.Clients.Count == 0)
{
  <h2>Are you sure you want to delete this?</h2>

  @* @Html.DisplayNameFor(model => model.Name)
  @Html.DisplayFor(model => model.Name);
  <p></p>
  @using (Html.BeginForm())
  {
        <input type="submit" value="Delete" />
  } *@
}
else
{
      <h3>You must re-assign all clients before you can delete this stylist!</h3>
      @* <ul>
    @foreach (Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
    }
      </ul> *@
}
<p></p>
@Html.ActionLink("Back to List", "Index")