@{
  Layout = "_Layout";
}

@model ToDoList.Models.Stylist
@using ToDoList.Models

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

@if (@Model.Items.Count == 0)
{
  <h3>No items have been added to this stylist yet!</h3>
} 
else
{
  <h3>Items:</h3>
  <ul>
    @foreach (Item item in Model.Items)
    {
      <li>@Html.ActionLink($"{item.Description}", "Details", "Items", new { id = item.ItemId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>