@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h2>Edit</h2>

<h4>Edit this client: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)

  @Html.LabelFor(model => model.Name)<span>&nbsp;</span>
  @Html.EditorFor(model => model.Name)
  <p></p>
  @Html.LabelFor(model => model.Stylist)<span>&nbsp;</span>
  @Html.DropDownList("StylistId")
  <p></p>
  <span>&emsp;&emsp;&emsp;&nbsp;</span><input type="submit" value="Save" />
}
<br>
<p>@Html.ActionLink("Back to list", "Index")</p>